NUXT_PUBLIC_API_BASE_URL="https://dev.plfamilyapp.com/"
# Ask Koko to give you the header value for Auth so you can make api calls to backend
NUXT_PUBLIC_API_HEADER_ID=
NUXT_PUBLIC_PAYPAL_CLIENT_ID=

NUXT_SITE_URL=http://localhost:3000
NUXT_SITE_NAME="SecretCrush"
NUXT_PUBLIC_META_PIXEL_ID=
NUXT_PUBLIC_GTM_ID=