// Qanelas Soft (Headings)
@font-face {
  font-family: "Qanelas Soft";
  src: url("@/assets/fonts/QanelasSoft/QanelasSoft-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Qanelas Soft";
  src: url("@/assets/fonts/QanelasSoft/QanelasSoft-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

// Mrs White (Secondary/Decorative)
@font-face {
  font-family: "Mrs White";
  src: url("@/assets/fonts/Mrs%20White/Mrs%20White.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
