@use "./fonts";

html {
  scroll-behavior: smooth;
  background-color: black;
}

#events,
#yacht,
#about,
#contact {
  scroll-margin-top: 100px;
}

.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  will-change: opacity, transform;

  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}
